<link rel="stylesheet" type="text/css" th:href="@{/style.css}">
<table>
  <h1 th:text="${question.subject}"></h1>
  <div th:text="${question.content}"></div>
  <form th:action="@{|/answer/create/${question.id}|}" method="post">
    <textarea name="content" id="content" rows="15"></textarea>
    <input type="submit" value="답변등록">
  </form>
  <thead>
    <h5 th:text="|${#lists.size(question.answerList)}개의 답변이 있습니다.|"></h5>
    <tr>
      <th>답변</th>
      <th>작성일시</th>
    </tr>
  </thead>
  <tbody>
    <tr th:each="answer : ${question.answerList}">
      <td th:text="${answer.content}"></td>
      <td th:text="${answer.createDate}"></td>
    </tr>
  </tbody>
</table>